{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}  

    {% block Body %}   
        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Espace Abonné
                        <small></small>
                    </h1>
                    {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li class="active">Home
                        </li>
                        <li></li>
                    </ol>
                {% endblock %}
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{{ path('esf_espace_abonne_monProfil') }}" class="list-group-item">Mon Profil</a>
                    <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sl" data-parent="#menu">Mes Paramètres</a>
                    <div id="sl" class="sublinks collapse">
                        <a href="{{ path('esf_espace_abonne_mesParametresMAIL') }}" class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Changer d'email</a>
                        <a href="{{ path('esf_espace_abonne_mesParametresMDP') }}" class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Changer de mot de passe</a>
                    </div>
                    <a href="{{ path('esf_espace_abonne_mesDocuments') }}" class="list-group-item">Mes Documents</a>
                    <a href="{{ path('esf_espace_abonne_mesDemandes') }}" class="list-group-item">Mes Demandes</a>
                </div>
                <div class="list-group">
                    <a href="{{ path('esf_espace_abonne_universiteStepsOne') }}" class="list-group-item">Inscription Universitaire</a>
                    <a href="{{ path('esf_espace_abonne_langueStepsOne') }}" class="list-group-item">Inscription cours de langue</a>
                    <a href="{{ path('esf_espace_abonne_logementStepsOne') }}" class="list-group-item">Inscription logement</a>
                    <a href="{{ path('esf_espace_abonne_preparationStepsOne') }}" class="list-group-item">Inscription cours préparation</a>
                    <a href="{{ path('esf_espace_abonne_mutuelle') }}" class="list-group-item">Inscription mutuelle</a>
                </div>
                <div class="list-group">
                    <a href="{{ path('esf_espace_abonne_aide') }}" class="list-group-item">Aide</a>
                    <a href="{{ path('esf_espace_abonne_contact') }}" class="list-group-item">Contact</a>
                </div>
                <div class="list-group">
                    <a href="{{ path('fos_user_security_logout') }}" class="list-group-item">Déconnexion</a>
                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-9">
                {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
                {% block Content %} 

                {% endblock %}
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
{% endif %}

{#{% block BackPills %} 
{% include ':backend:pills.html.twig' %}
{% endblock %}#}