{% extends ":backend:sidebar.html.twig" %}

{% block title %}
	Inscription Langue - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ path('esf_espace_abonne_monProfil') }}">Home</a></li>
		<li class="active">Inscription</li>
	</ol>
{% endblock %}

{% block Content %} 
	<div class="row">
		<div class="col-md-12">
			<h2>Etape 1</h2>
			<p>Veuillez sélectionner les champs ci-dessous et rechercher afin de passer à l'étape suivante.</p>
			{{ form_start(form) }}
			
			{% if not form.vars.valid %}
				<div class="alert alert-error">
					{{ form_errors(form) }}
				</div>
			{% endif %}

			<div class="form-group">
				{{ form_label(form.langue, 'Langue') }}
				{{ form_errors(form.langue) }}
				{{ form_widget(form.langue) }}

				{{ form_label(form.lieu, 'Pays') }}
				{{ form_errors(form.lieu) }}
				{{ form_widget(form.lieu) }}

				{{ form_label(form.raisonsocial, 'Partenaire') }}
				{{ form_errors(form.raisonsocial) }}
				{{ form_widget(form.raisonsocial) }}
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						{{ form_widget(form.reinitialiser) }}
						{{ form_widget(form.rechercher) }}
					</div>
				</div>
			</div>
			{# Token CSRF #}
			{{ form_widget(form._token) }}
			
			{{ form_end(form) }}
		</div>
	</div>

	<script>
		var $langue = $('#esf_espaceabonnebundle_inscription_langue_langue');

		$langue.change(function() {

			var $form = $(this).closest('form');
			var data = {};
			data[$langue.attr('name')] = $langue.val();

			$.ajax({
				beforeSend: function(){
					$("#esf_espaceabonnebundle_inscription_langue_lieu").html('<option value="" selected="selected">Chargement en cours...</option>');
				},
				url : $form.attr('action'),
				type: $form.attr('method'),
				data : data,
				success: function(html) {
					$('#esf_espaceabonnebundle_inscription_langue_lieu').replaceWith(
						$(html).find('#esf_espaceabonnebundle_inscription_langue_lieu')
						);
					selectFormation();
				},
				error: function(exception) {
					alert('Exception: '+ exception);
					$("#esf_espaceabonnebundle_inscription_langue_lieu").html('<option value="" selected="selected">Nous avons rencontré un problème...</option>');
					console.log(JSON.stringify(data));
				}
			});
		});

		function selectFormation(){
			var $lieu = $('#esf_espaceabonnebundle_inscription_langue_lieu');
			$lieu.change(function() {

				var $form = $(this).closest('form');
				var data = {};
				data[$lieu.attr('name')] = $lieu.val();

				$.ajax({
					beforeSend: function(){
						$("#esf_espaceabonnebundle_inscription_langue_raisonsocial").html('<option value="" selected="selected">Chargement en cours...</option>');
					},
					url : $form.attr('action'),
					type: $form.attr('method'),
					data : data,
					success: function(html) {
						$('#esf_espaceabonnebundle_inscription_langue_raisonsocial').replaceWith(
							$(html).find('#esf_espaceabonnebundle_inscription_langue_raisonsocial')
							);
					},
					error: function(e) {
						alert('Exception: ' + e);
						$("#esf_espaceabonnebundle_inscription_langue_raisonsocial").html('<option value="" selected="selected"> Nous avons rencontré un problème... </option>');
						console.log(JSON.stringify(data));
					}
				});
			});
		}
	</script>

{% endblock %}

{#

#}