{% extends ":backend:sidebar.html.twig" %}

{% block title %}
    Mes Documents - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('esf_espace_abonne_monProfil') }}">Home</a></li>
        <li class="active">Mes Documents</li>
    </ol>
{% endblock %}

{% block Content %} 

    <!-- Mes Documents -->
    {{ form_start(form) }}

    {% if not form.vars.valid %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                <strong>Information !</strong> En cas de plusieurs "bulletins de notes" ou de "lettres de recommandation", merci de les réunir en un seul fichier PDF.
            </div>         
        </div>
        <div class="col-md-6">             
            <div class="form-group">
                {{ form_label(form.documents.PasseportName, 'Passeport') }}
                {{ form_widget(form.documents.PasseportName) }}
                {{ form_widget(form.documents.PasseportFile) }}

                {{ form_label(form.documents.CarteIdentiteName, 'Carte Identite') }}
                {{ form_widget(form.documents.CarteIdentiteName) }}
                {{ form_widget(form.documents.CarteIdentiteFile) }}

                {{ form_label(form.documents.BacName, 'Baccalaureat') }}
                {{ form_widget(form.documents.BacName) }}
                {{ form_widget(form.documents.BacFile) }}

                {{ form_label(form.documents.CredentialName, 'Crédential / Autre équivalence') }}
                {{ form_widget(form.documents.CredentialName) }}
                {{ form_widget(form.documents.CredentialFile) }}
            </div>
        </div>
        <div class="col-md-6">          
            <div class="form-group">
                {{ form_label(form.documents.BulletinNoteName, 'Bulletin de Note') }}
                {{ form_widget(form.documents.BulletinNoteName) }}                
                {{ form_widget(form.documents.BulletinNoteFile) }}

                {{ form_label(form.documents.LettreRecommendationName, 'Lettres de Recommendation') }}
                {{ form_widget(form.documents.LettreRecommendationName) }}
                {{ form_widget(form.documents.LettreRecommendationFile) }} 

                {{ form_label(form.documents.LettreMotivationName, 'Lettre de Motivation') }}
                {{ form_widget(form.documents.LettreMotivationName) }}
                {{ form_widget(form.documents.LettreMotivationFile) }}  
            </div>
        </div>
        {# Token CSRF #}
        {{ form_widget(form._token) }}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {% for flash_message in app.session.flashBag.get('notice') %}
                        <div class="flash-notice">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {{ form_widget(form.documents.upload) }}
                </div>
            </div>
        </div>
        <div style="display:none;">
            {{form_rest(form)}}
        </div>

        {{ form_end(form) }}

    </div>
</div>
{% endblock %}

{# Bootstrap FileInput
    <input id="input-id" type="file" class="file" data-preview-file-type="text" >
, { 'attr': {'id': 'input-id', 'class': 'file', 'multiple': 'true', 'data-show-upload': 'false', 'data-show-caption': 'true', 'showUpload':false, 'previewFileType':'any'} }#}