{% extends ":backend:sidebar.html.twig" %}

{% block title %}
    Mes Documents - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('esf_espace_abonne_monProfil') }}">Home</a></li>
        <li class="active">Mes Documents</li>
    </ol>
{% endblock %}

{% block Content %} 

   {% for flash_message in app.session.flashBag.get('notice') %}
    <div class="alert alert-success" role="alert" id="success-alert">
     <button type="button" class="close" data-dismiss="alert">x</button>
     <strong> {{ flash_message }} </strong> 
 </div>
{% endfor %}

<!-- Mes Documents -->
{{ form_start(form) }}

{% if not form.physique.vars.valid %}
    <div class="alert alert-error">
        {{ form_errors(form) }}
    </div>
{% endif %}

<div class="row">
    <div class="col-md-12">

        <div class="alert alert-info">
            <strong>Information !</strong> En cas de plusieurs "bulletins de notes" ou de "lettres de recommandation", merci de les réunir en un seul fichier PDF.
        </div>         
    </div>

    <div class="col-md-6">             
        <div class="form-group">
            {{ form_row(form.physique.documents) }}
            {#{{ form_label(form.physique.documents.PasseportName, 'Passeport') }}
            {{ form_widget(form.physique.documents.PasseportName) }}
            {{ form_widget(form.physique.documents.PasseportFile) }}

            {{ form_label(form.physique.documents.CarteIdentiteName, 'Carte Identite') }}
            {{ form_widget(form.physique.documents.CarteIdentiteName) }}
            {{ form_widget(form.physique.documents.CarteIdentiteFile) }}

            {{ form_label(form.physique.documents.BacName, 'Baccalaureat') }}
            {{ form_widget(form.physique.documents.BacName) }}
            {{ form_widget(form.physique.documents.BacFile) }}

            {{ form_label(form.physique.documents.CredentialName, 'Crédential / Autre équivalence') }}
            {{ form_widget(form.physique.documents.CredentialName) }}
            {{ form_widget(form.physique.documents.CredentialFile) }}#}
        </div>
    </div>
    <div class="col-md-6">          
        <div class="form-group">
            {#{{ form_label(form.physique.documents.BulletinNoteName, 'Bulletin de Note') }}
            {{ form_widget(form.physique.documents.BulletinNoteName) }}                
            {{ form_widget(form.physique.documents.BulletinNoteFile) }}

            {{ form_label(form.physique.documents.LettreRecommendationName, 'Lettres de Recommendation') }}
            {{ form_widget(form.physique.documents.LettreRecommendationName) }}
            {{ form_widget(form.physique.documents.LettreRecommendationFile) }} 

            {{ form_label(form.physique.documents.LettreMotivationName, 'Lettre de Motivation') }}
            {{ form_widget(form.physique.documents.LettreMotivationName) }}
            {{ form_widget(form.physique.documents.LettreMotivationFile) }}  #}
        </div>
    </div>

    {# Token CSRF #}
    {{ form_widget(form._token) }}

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {#{{ form_widget(form.physique.documents.upload) }}#}
            </div>
        </div>
    </div>
    {{ form_end(form, {'render_rest': false} ) }}

</div>
</div>
{% endblock %}

{# Bootstrap FileInput
    <input id="input-id" type="file" class="file" data-preview-file-type="text" >
, { 'attr': {'id': 'input-id', 'class': 'file', 'multiple': 'true', 'data-show-upload': 'false', 'data-show-caption': 'true', 'showUpload':false, 'previewFileType':'any'} }#}