{% extends ":backend:sidebar.html.twig" %}

{% block title %}
    Mes Demandes - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('esf_espace_abonne_monProfil') }}">Home</a></li>
        <li class="active">Mes Demandes</li>
    </ol>
{% endblock %}

{% block Content %} 
    <!-- Mes Demandes -->
    <div class="col-md-12">
        <table id="demandeInsciption" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Demande</th>
                    <th>Etat</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if listDemandeInscription is defined %}
                    {% for rowDemande in listDemandeInscription %}
                        <tr>
                            <td>{{rowDemande.id}}</td>
                            <td>{{rowDemande.type}}</td>
                            <td>{{rowDemande.etat}}</td>
                            <td>           
                                <a href="{{ path('esf_espace_abonne_detailsDemandes', { 'id' : rowDemande.id } ) }}" >
                                    <span class="glyphicon glyphicon-list-alt"></span> Détails
                                </a>
                                <a href="{{ path('esf_espace_abonne_modifierDemandes', { 'id' : rowDemande.id } ) }}" >
                                    <span class="glyphicon glyphicon-pencil"></span> Modifier
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

<script type="text/javascript" class="init">
 $(document).ready( function () {
  $.extend( true, $.fn.dataTable.defaults, {
    language: {
      url: "//cdn.datatables.net/plug-ins/1.10.10/i18n/French.json"
  }
});
  var table = $('#demandeInsciption').DataTable({
    language: {
        emptyTable: "Pas encore de demande"
    },
    retrieve: true,
    paging: true,
    searching: true,
    ordering:  true,
    info: false
});
} );
</script>
{% endblock %}