{% extends ":backend:sidebar.html.twig" %}

{% block title %}
    Modifier Demandes - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('esf_espace_abonne_monProfil') }}">Home</a></li>
        <li ><a href="{{ path('esf_espace_abonne_mesDemandes') }}">Mes Demandes</a></li>
        <li class="active">Modifier</li>
    </ol>
{% endblock %}

{% block Content %} 
 {% for flash_message in app.session.flashBag.get('notice') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}
<!-- Détails Demandes -->
<div class="col-md-12">
    <h1>Modification de la demande n°{{ eA_Demande_Inscription.id }} :</h1>
    <div class="panel panel-default">
        <div class="panel-body">                                
            Type d'inscription : {{ eA_Demande_Inscription.type }}<br>                                    
            Etat de l'inscription : {{ eA_Demande_Inscription.etat }}<br>
            {% if eA_Demande_Inscription.etablissement is not null %}
                Etablissement de l'Inscription : {{ eA_Demande_Inscription.etablissement }}<br>
                Formation de l'Inscription : {{ eA_Demande_Inscription.formation }}<br>
                Langue de l'Inscription : {{ eA_Demande_Inscription.langue }}<br>
            {% elseif  edit_form.partenaire is not null %}
                Partenaire de l'Inscription : {{ eA_Demande_Inscription.partenaire }}<br>
                Lieu de l'Inscription : {{ eA_Demande_Inscription.formation }}<br>
                Langue de l'Inscription : {{ eA_Demande_Inscription.langue }}<br>
            {% endif %}                
        </div>
    </div>     

    {{ form_start(form, {'action': path('esf_espace_abonne_modifierDemandes', { 'id' : eA_Demande_Inscription.id } ), 'method': 'POST'}) }}
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="panel panel-default">
                    <div class="panel-body">   
                        {{ form_label(form.documentinscription.pdfName, 'Document d\'inscription') }}
                        {{ form_widget(form.documentinscription.pdfName) }}
                    </div>
                    <div class="panel-footer">
                        {{ form_widget(form.documentinscription.pdfFile) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <a class="btn btn-info" href="{{ path('esf_espace_abonne_mesDemandes') }}" role="button">Retour à la liste des demandes</a>
                {{ form_widget(form.documentinscription.Enregistrer) }}
            </div>
        </div>
    </div>
    {# Token CSRF #}
    {{ form_widget(form._token) }}
    {# Data #}
    <div style="display:none">
        {{form_rest(form)}}
    </div>
    {#, {'render_rest': false }#}
    {{ form_end(form) }}
</div>
{% endblock %}