{% extends ":backend:sidebar.html.twig" %}

{% block title %}
    Inscription Université - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('esf_espace_abonne_monProfil') }}">Home</a></li>
        <li class="active">Inscription</li>
    </ol>
{% endblock %}

{% block Content %} 
    <div class="row">
        <div class="col-md-12">
            <h2>Etape 1</h2>
            <p>Veuillez sélectionner les champs ci-dessous et rechercher afin de passer à l'étape suivante.</p>
            {{ form_start(form) }}
            {% if not form.vars.valid %}
                <div class="alert alert-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            <div class="form-group">

                {{ form_label(form.langue, 'Langue') }}
                {{ form_errors(form.langue) }}
                {{ form_widget(form.langue) }}

                {{ form_label(form.formation, 'Formation') }}
                {{ form_errors(form.formation) }}
                {{ form_widget(form.formation) }}

                {{ form_label(form.nometablissement, 'Université') }}
                {{ form_errors(form.nometablissement) }}
                {{ form_widget(form.nometablissement) }}

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form_widget(form.reinitialiser) }}
                        {{ form_widget(form.rechercher) }}
                    </div>
                </div>
            </div>
            {# Token CSRF  #}
            {{ form_widget(form._token) }}
            {# , {'render_rest': false} #}
            {{ form_end(form) }}
        </div>
    </div>

    <script>
        var $langue = $('#esf_espaceabonnebundle_inscription_universite_langue');

        $langue .change(function() {

            var $form = $(this).closest('form');
            var data = {};
            data[$langue.attr('name')] = $langue.val();

            $.ajax({
                beforeSend: function(){
                    $("#esf_espaceabonnebundle_inscription_universite_formation").html('<option value="" selected="selected">Chargement en cours...</option>');
                },
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                 $('#esf_espaceabonnebundle_inscription_universite_formation').replaceWith(
                    $(html).find('#esf_espaceabonnebundle_inscription_universite_formation')
                    );
                 selectFormation();
             },
             error: function(e) {
                alert('error : ' + e );
                $("#esf_espaceabonnebundle_inscription_universite_formation").html('<option value="" selected="selected"> Nous avons rencontré un problème... </option>');
                console.log(JSON.stringify(data));
            }
        });
        });

        function selectFormation(){
            var $formation = $('#esf_espaceabonnebundle_inscription_universite_formation');

            $formation .change(function() {

                var $form = $(this).closest('form');
                var data = {};
                data[$formation.attr('name')] = $formation.val();

                $.ajax({
                    beforeSend: function(){
                        $("#esf_espaceabonnebundle_inscription_universite_nometablissement").html('<option value="" selected="selected">Chargement en cours...</option>');
                    },
                    url : $form.attr('action'),
                    type: $form.attr('method'),
                    data : data,
                    success: function(html) {
                        $('#esf_espaceabonnebundle_inscription_universite_nometablissement').replaceWith(
                            $(html).find('#esf_espaceabonnebundle_inscription_universite_nometablissement')
                            );
                    },
                    error: function(e) {
                        alert('Exception: ' + e);
                        $("#esf_espaceabonnebundle_inscription_universite_nometablissement").html('<option value="" selected="selected"> Nous avons rencontré un problème... </option>');
                        console.log(JSON.stringify(data));
                    }
                });
            });
        }
    </script>
{% endblock %}
{#
 
#}